* {
  font-family: "Noto Sans", serif;
}

body {
  background: rgb(6, 9, 8) !important;
}

.header {
  height: 1350px;
  background: linear-gradient(180deg, rgba(26, 64, 46, 0) 74.67%, #020805 96.34%), url("../img/toro.png");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}
.header .navbar {
  border-bottom: 1px solid rgb(255, 255, 255);
}
.header .navbar .navbar-nav .nav-item .nav-link {
  color: white !important;
  font-weight: 500 !important;
  text-transform: uppercase;
}
.header .navbar .btn-abrirconta {
  font-weight: 900 !important;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .header .navbar .btn-abrirconta {
    margin-left: 1rem;
  }
}
.header .hero {
  margin-top: 150px;
}
.header .hero h6 {
  height: 30px;
  line-height: 21.95px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 136px;
  color: white !important;
  font-size: 16px;
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  .header .hero h6 {
    width: 333px;
  }
}
.header .hero h1 {
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: 900;
  color: white !important;
  font-size: 50px;
}
@media screen and (min-width: 768px) {
  .header .hero h1 {
    width: 800px;
  }
}
.header .hero h1 span {
  background: linear-gradient(96.84deg, #75FB4C 1.12%, #2CA36D 95.97%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header .hero button {
  background: linear-gradient(96.84deg, #75FB4C 1.12%, #2CA36D 95.97%);
  box-shadow: 0px 4px 76px 0px rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 40px;
  padding-right: 40px;
  font-weight: 900;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .header .hero button {
    width: 401px;
    height: 49px;
  }
}
.header .web {
  margin-top: 150px;
}
.header .btn-abrir-conta {
  background: linear-gradient(96.84deg, #75FB4C 1.12%, #2CA36D 95.97%);
  width: 472px;
  height: auto;
  top: 1405.05px;
  left: 416.79px;
  padding: 12px 40px 12px 40px;
  border-radius: 15px;
  opacity: 0;
  font-size: 20px;
  font-weight: 900;
  line-height: 30.05px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
@media screen and (min-width: 768px) {
  .header .btn-abrir-conta {
    height: 54px;
  }
}

.main {
  position: relative;
}
@media screen and (min-width: 768px) {
  .main {
    margin-top: 14rem;
  }
}
.main .background-redondo {
  display: none;
}
@media screen and (min-width: 768px) {
  .main .background-redondo {
    width: 900px;
    position: absolute;
    top: -500px;
    display: block !important;
  }
}
.main .nossos-ativos h1 {
  font-size: 40px;
  font-weight: 900;
  line-height: 53.6px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: rgb(255, 255, 255);
}
.main .nossos-ativos div {
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 3rem;
}
.main .nossos-ativos div img {
  width: 50px;
  height: 50px;
  position: relative;
}
.main .grid {
  padding: 68px 28.87px 84.77px 28.87px;
  border-radius: 20.99px;
  border: 0.87px 0px 0px 0px;
  background: rgb(18, 22, 19);
  border: 0.87px solid rgb(65, 72, 69);
}
@media screen and (min-width: 768px) {
  .main .grid {
    height: 262.43px;
  }
}
.main .grid .hero-verde-grid {
  width: 39.99px;
  height: 21.87px;
  max-width: 1401.38px;
  padding: 0px 7px 0.01px 7px;
  border-radius: 14px;
  text-transform: uppercase;
  color: black !important;
  font-weight: 500;
  background: linear-gradient(96.84deg, #75FB4C 1.12%, #2CA36D 95.97%);
}
.main .grid .conteudo-grid {
  font-weight: 300;
  font-size: 16px;
  color: rgb(255, 255, 255) !important;
}
.main .grid .conteudo-grid .span1-grid {
  display: block;
  font-size: 35px;
  font-weight: 900;
  color: rgb(255, 255, 255);
}
@media screen and (min-width: 768px) {
  .main .grid .conteudo-grid .span1-grid {
    font-size: 43px;
  }
}
.main .registre-block {
  margin-top: 150px;
  background-image: url("../img/touro-footer.png") !important;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .main .registre-block {
    height: 500px;
  }
}
.main .registre-block h1 {
  padding-top: 150px;
  font-size: 53.6px;
  font-weight: 900;
  line-height: 53.6px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: rgb(255, 255, 255);
}
.main .registre-block h1 span {
  font-size: 53.6px;
  font-weight: 900;
  line-height: 53.6px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  background: linear-gradient(96.84deg, #75FB4C 1.12%, #2CA36D 95.97%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main .registre-block div button {
  top: 3145.52px;
  left: 391px;
  padding: 12px 40px 12px 40px;
  gap: 8px;
  border-radius: 15px;
  outline: none;
  border: 0;
  opacity: 0px;
  background: linear-gradient(96.84deg, #75FB4C 1.12%, #2CA36D 95.97%);
  font-size: 22px;
  font-weight: 900;
  line-height: 30.05px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .main .registre-block div button {
    width: 472px;
    height: 54px;
  }
}

.footer {
  margin-top: 150px;
}
@media screen and (min-width: 768px) {
  .footer {
    height: 300px;
    background-image: url("../img/Ellipse3.png");
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
  }
}
.footer span {
  color: rgba(255, 255, 255, 0.755);
  font-size: 14px;
  font-weight: 400;
}
.footer h5 {
  font-size: 18.92px;
  font-weight: 600;
  line-height: 17.2px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: rgba(255, 255, 255, 0.776);
}
.footer ul li a {
  font-size: 14px;
  font-weight: 400;
  line-height: 17.89px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: rgba(255, 255, 255, 0.539);
  text-decoration: none;
  position: relative;
  z-index: 500;
}
.footer div.social a {
  color: rgba(255, 255, 255, 0.539);
}
.footer .creditos {
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: rgba(255, 255, 255, 0.365);
}/*# sourceMappingURL=main.css.map */